[Unit]
Description=spyland backends target
Documentation=https://github.com/spyland-dev/spyland
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target
